{% extends "templates/app.twig"%}

{% block content %}
    <section id="main">
        <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <h2 class="title">Art Smart – Drawing Workshop (9-14 yrs.)</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="breadcrumbs pull-right">
                                <ul>
                                    <li>You are Now on:</li>
                                    <li><a href="{{path_for('home')}}">Home</a></li>
                                    <li><a href="{{url}}">{{pageName}}</a></li>
                                    <li>Art Smart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="content margin-top60 margin-bottom60">
            <div class="container">
                <div class="col-md-6 col-lg-5">
                    <img src="{{base_url()}}/img/content/campaign/big/artsmart.jpg" title="Art Smart – Drawing Workshop (9-14 yrs.)" class="img-responsive img-thumbnail">
                </div>
                 <div class="col-md-6 col-lg-7">
                    <h2>Descriptions:</h2>
                    <small><b>Program conducted by Young Rembrandts</b></small>
                    <p>
                       In this class, you will develop enhanced observational drawing skills as you investigate line, value, form, perspective, texture, and color while working with a variety of drawing materials, including pencil, charcoal, and pastels. Students will focus on learning how to see the world around them and how to translate this newly found vision into the two-dimensional world of drawing. A great class to start with if you don’t have much experience! Price includes all art materials.

                    </p>
                    
                    
                    <a href="https://goo.gl/forms/JlKF8ynfECQtVJOx1" class="btn btn-color pull-right btn-large">Register</a>
                 </div>
            </div>
        </div>
    </section>
                                    
{% endblock %}