<div class="row">
                    <div class="col-md-offset-5 ">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_Nt0HgXzBpYv5e5pjYU25s1Ut6QH2cbrilaIjQoxEoDTowA/viewform" class="btn btn-color">REGISTER FOR CAMPS</a>
                    </div>
                </div>
                <div class="row">
                    <h2>Policy</h2>
                    <ul>
                        <li>Additional 5% sibling discount is offered. (The siblings must be registered for the same week of camps.) </li>
                        <li>If you need to cancel and request a refund 3 weeks before the first day of the camp, we will refund 80% of the tuition. There are no refunds within 3 weeks of the start of a camp. Refunds will not be offered for attending partial weeks, absence due to sickness or non-pre-approved days off. We do understand that plans can change between now & Summer, we would be happy to work with you and provide you the option to enroll in another camp suitable to your schedule</li>
                        <li>We reserve the right to cancel camps that do not meet the minimum enrollment requirement. Should this occur, every attempt will be made to move students to a similar camp; or full refund will be offered</li>
                        <li>Please, provide snacks, water bottle and lunch (for full day camps) for your child.</li>
                        <li>Pick and Drop off location:<b> Pine lake community club. Late pickup fee will be $10 for every 5 min</b></li>
                        <li>No make up or refund for missed days/late arrival</li>
                        
                    </ul>
                    <h2 class="margin-top25">Sample Daily Schedule</h2>
                    <table class="responsive-table table table-bordered table-striped" id="shopping-cart-table">                               
                        <tbody>
                            <tr>
                                <td>9.00</td>
                                <td>Check in </td>
                            </tr>
                            <tr>
                                <td>9:10</td>
                                <td>Announcements, icebreaker activity, warming up </td>
                            </tr>
                            <tr>
                                <td>9:20</td>
                                <td> AM Program begins </td>
                            </tr>
                            <tr>
                                <td>Noon</td>
                                <td>Lunch </td>
                            </tr>
                            <tr>
                                <td>12:40 </td>
                                <td>Free time, outdoor play </td>
                            </tr>
                            <tr>
                                <td>1:00</td>
                                <td>PM Program begins </td>
                            </tr>
                            <tr>
                                <td>3:40</td>
                                <td>Wrap up project </td>
                            </tr>
                            <tr>
                                <td>3:45 – 4:00</td>
                                <td>Pick up</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <span>*There will be some changes based on the camp. </span><br>
                    <span>* 10 min break will be given during the class.</span><br>
                    <span>*Pick and Drop off location: <b>Pine lake community club. Late pickup fee will be $10 for every 5 min</b></span>
                </div>