{% extends "templates/app.twig"%}

{% block content %}
    <section id="main">
        <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <h2 class="title">Cartoons N Characters - Drawing Workshop</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="breadcrumbs pull-right">
                                <ul>
                                    <li>You are Now on:</li>
                                    <li><a href="{{path_for('home')}}">Home</a></li>
                                    <li><a href="{{url}}">{{pageName}}</a></li>
                                    <li>Cartoons N Characters</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="content margin-top60 margin-bottom60">
            <div class="container">
                <div class="col-md-6 col-lg-5">
                    <img src="{{base_url()}}/img/content/campaign/big/cartoondrawing.jpg" title="Cartoons N Characters - Drawing Workshop" class="img-responsive img-thumbnail">
                </div>
                 <div class="col-md-6 col-lg-7">
                    <h2>Descriptions:</h2>
                    <small><b>Program conducted by Young Rembrandts</b></small>
                    <p>
                        Learn the basics of cartooning and create your own characters! Each day students will learn step-by-step techniques used in cartooning. Subjects like characteristics, features, exaggeration, action and personification will contribute to your child’s artistic advancement!  They will immediately apply their new skills in every class to create their own original cartoon characters. 

                    </p>
                    <p>
                        If taking our scratch coding camp, they can use their created characters and back ground graphics and bring them to life in a game or animation.

                    </p>
                    
                    <a href="https://goo.gl/forms/JlKF8ynfECQtVJOx1" class="btn btn-color pull-right btn-large">Register</a>
                 </div>
            </div>
        </div>
    </section>
                                    
{% endblock %}