{% extends "templates/app.twig"%}

{% block content %}
    <section id="main">
        <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <h2 class="title">Photography and Image editing</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="breadcrumbs pull-right">
                                <ul>
                                    <li>You are Now on:</li>
                                    <li><a href="{{path_for('home')}}">Home</a></li>
                                    <li><a href="{{url}}">{{pageName}}</a></li>
                                    <li>Photography and Image editing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="content margin-top60 margin-bottom60">
            <div class="container">                
                <div class="col-md-6 col-lg-5">
                    <img src="{{base_url()}}/img/content/campaign/big/phtography.jpg" title="Photography and Image editing" class="img-responsive img-thumbnail">
                </div>
                <div class="col-md-6 col-lg-7">
                    <h2>Descriptions:</h2>
                    <p>
                        This camp is a good blend of Photography and digital image editing. Camper will learn the basics of photography and take photos using digital camera. Then they will create digital art using various graphic tools and learn to do image manipulations of their own shoot pictures during the camp which involves transforming or altering a photograph using various methods and techniques to get desired results. They will combine images to create their unique master digital art. 

                    </p>  
                    <h2>In this course, your student will learn:</h2>
                    <ul>
                        <li>Basics of photography.</li>
                        <li>Techniques of image editing</li>
                        <li>Create digital art using GIMP</li>
                        <li>Create portfolio of their digital art</li>

                    </ul><br>
                    <h2>Your student will take home:</h2>
                    <ul>
                        <li>Project files (required to bring their own USB drive)</li>
                    </ul>
                    
                    <a href="https://goo.gl/forms/JlKF8ynfECQtVJOx1" class="btn btn-color pull-right btn-large">Register</a>
                </div>
            </div>
        </div>
    </section>
                                    
{% endblock %}