{% include  'admin/templates/partial/header.twig'%}

    {% block content %}

    {% endblock %}


{% include  'admin/templates/partial/footer.twig'%}

{% block javascript %}
    
 {% endblock %}

</body>

</html>