{% extends "templates/app.twig"%}

 {% block content %} 
 <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <h2 class="title">FAQ</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="breadcrumbs pull-right">
                                <ul>
                                    <li>You are Now on:</li>
                                    <li><a href="{{path_for('home')}}">Home</a></li>
                                    <li>FAQ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    <div class="container">
                                        <div class="row margin-bottom60 margin-top60 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="accordionMod panel-group">
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">What is your Refund and Cancellation Policy? </h4>
                                        <section class="accordion-inner panel-body">
                                            <ul>
                                                <li>Full payment must be made within 7 days of registration to hold a seat in the program</li>
                                                <li>Full refund, less $30 (administrative fee) if cancelled 15 days prior to start of class</li>
                                                <li>50% refund if cancelled 5 days prior to start of the class.</li>
                                                <li>No refund after that unless there is a wait list and the spot is filled.</li>
                                                <li>If the program is cancelled due to low enrollment, full refund will be made </li>
                                                <li>Students who are dismissed because of a rule violation, disciplinary reason or non-payment of late fee will not receive a refund. </li>
                                                <li>A fee of $30 will be assesses for any returned/declined payment transactions</li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">What is the experience of your teachers?</h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                              Our lead teachers are computer professionals with strong knowledge on the subject and has teaching experience. Some of out TA’s are high school of college students on CS path 

                                            </p>
                                        </section>
                                    </div>
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">Are the programs repeated in the same year?</h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                                No. Each session new program is offered in the order of learning and skill building.  e.g. if Scratch level 1 is offered in session 1, Session 2 will be on Scratch level 2. So, the child can build on their skills learned in previous session and get a comprehensive knowledge of the tool/ language they are learning. 

                                            </p>
                                        </section>
                                    </div>
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">Are there any prerequisites for these programs?</h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                               Yes, some of our programs have pre-requisites. Please check the Program Description page for more on pre-requisite. You can always contact us to discuss which program will best suit your child. 

                                            </p>
                                        </section>
                                    </div>
                                    
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">My child is highly capable. Can he join programs for grades higher than his/her? </h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                                This can be done on approval from the teacher. At times some testing may be required depending the program. Please contact us to discuss.

                                            </p>
                                        </section>
                                    </div>
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">How can my child catch up on missed class?</h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                                Thought we highly recommend not to miss any class as we cover a lot in each class. But circumstance do come, and we understand. Teacher will send link or email of what’s covered in the class with files for assignment and direction to complete at home. If needed and time permits will help the child complete the assignment later in the session
                                            </p>
                                        </section>
                                    </div>
                                    <div class="accordion-item">
                                        <h4 class="accordion-toggle">How can we bring your program in our school?</h4>
                                        <section class="accordion-inner panel-body">
                                            <p>
                                                You can have your PTSA connect with us, or you can email us directly.
                                            </p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>                                   

 {% endblock %}