<h3>Hello </h3>
    
<table rules="all" style="border-color: #666;" cellpadding="10">
    <tr style='background: #eee;'>
        <td><strong>Name:</strong> </td>
        <td>{{ contact.name }}</td>
    </tr>
    <tr>
        <td><strong>Email:</strong> </td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td><strong>Message:</strong> </td>
        <td>{{ contact.message }}</td>
    </tr>
</table>
