{% include  'templates/partial/header.twig'%}

    {% block content %}

    {% endblock %}


{% include  'templates/partial/footer.twig'%}

{% block javascript %}
    
{% endblock %}
    </body>
</html>
